@import 'fonts.ext.styl'

$fonts_dir := "/assets/fonts/";

@font-face  
  font-family: 'Work Sans Medium Italic'
  font-weight: normal;
  font-style: normal;
  src: url($fonts_dir + 'worksans/WorkSans-Italic.ttf') format('truetype')

@font-face  
  font-family: 'Work Sans Ligh Italic'
  font-weight: normal;
  font-style: normal;
  src: url($fonts_dir + 'worksans/WorkSans-Italic.ttf') format('truetype')

@font-face  
  font-family: 'Work Sans Regular'
  font-weight: normal;
  font-style: normal;
  src: url($fonts_dir + 'worksans/WorkSans-Regular.ttf') format('truetype')

@font-face  
  font-family: 'Work Sans Regular Italic'
  font-weight: normal;
  font-style: normal;
  src: url($fonts_dir + 'worksans/WorkSans-Italic.ttf') format('truetype')

@font-face  
  font-family: 'Work Sans Bold'
  font-weight: normal;
  font-style: normal;
  src: url($fonts_dir + 'worksans/WorkSans-SemiBold.ttf') format('truetype')

@font-face  
  font-family: 'Work Sans Black Italic'
  font-weight: normal;
  font-style: normal;
  src: url($fonts_dir + 'worksans/WorkSans-Italic.ttf') format('truetype')

@font-face  
  font-family: 'Work Sans Bold Italic'
  font-weight: normal;
  font-style: normal;
  src: url($fonts_dir + 'worksans/WorkSans-Italic.ttf') format('truetype')

@font-face  
  font-family: 'Work Sans Medium'
  font-weight: normal;
  font-style: normal;
  src: url($fonts_dir + 'worksans/WorkSans-Medium.ttf') format('truetype')

@font-face  
  font-family: 'Work Sans Black'
  font-weight: normal;
  font-style: normal;
  src: url($fonts_dir + 'worksans/WorkSans-SemiBold.ttf') format('truetype')

@font-face  
  font-family: 'Work Sans Light'
  font-weight: normal;
  font-style: normal;
  src: url($fonts_dir + 'worksans/WorkSans-Regular.ttf') format('truetype')

@font-face
  font-family: 'Courier Prime';
  src: url($fonts_dir + 'courierprime/courier-prime-sans.eot?#iefix') format('embedded-opentype'),
    url($fonts_dir + 'courierprime/courier-prime-sans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

@font-face
  font-family: 'Courier Prime Bold';
  src: url($fonts_dir + 'courierprime/courier-prime-sans-bold.eot?#iefix') format('embedded-opentype'),
    url($fonts_dir + 'courierprime/courier-prime-sans-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
