@import 'fonts.ext.styl'

$fonts_dir := "/assets/fonts/";

@font-face  
  font-family: 'Rubik Medium Italic'
  font-weight: normal;
  font-style: normal;
  src: url($fonts_dir + 'rubik/Rubik-MediumItalic.ttf') format('truetype')

@font-face  
  font-family: 'Rubik Ligh Italic'
  font-weight: normal;
  font-style: normal;
  src: url($fonts_dir + 'rubik/Rubik-LightItalic.ttf') format('truetype')

@font-face  
  font-family: 'Rubik Regular'
  font-weight: normal;
  font-style: normal;
  src: url($fonts_dir + 'rubik/Rubik-Regular.ttf') format('truetype')

@font-face  
  font-family: 'Rubik Regular Italic'
  font-weight: normal;
  font-style: normal;
  src: url($fonts_dir + 'rubik/Rubik-Italic.ttf') format('truetype')

@font-face  
  font-family: 'Rubik Bold'
  font-weight: normal;
  font-style: normal;
  src: url($fonts_dir + 'rubik/Rubik-Bold.ttf') format('truetype')

@font-face  
  font-family: 'Rubik Black Italic'
  font-weight: normal;
  font-style: normal;
  src: url($fonts_dir + 'rubik/Rubik-BlackItalic.ttf') format('truetype')

@font-face  
  font-family: 'Rubik Bold Italic'
  font-weight: normal;
  font-style: normal;
  src: url($fonts_dir + 'rubik/Rubik-BoldItalic.ttf') format('truetype')

@font-face  
  font-family: 'Rubik Medium'
  font-weight: normal;
  font-style: normal;
  src: url($fonts_dir + 'rubik/Rubik-Medium.ttf') format('truetype')

@font-face  
  font-family: 'Rubik Black'
  font-weight: normal;
  font-style: normal;
  src: url($fonts_dir + 'rubik/Rubik-Black.ttf') format('truetype')

@font-face  
  font-family: 'Rubik Light'
  font-weight: normal;
  font-style: normal;
  src: url($fonts_dir + 'rubik/Rubik-Light.ttf') format('truetype')

@font-face
  font-family: 'Courier Prime';
  src: url($fonts_dir + 'courierprime/courier-prime-sans.eot?#iefix') format('embedded-opentype'),
    url($fonts_dir + 'courierprime/courier-prime-sans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

@font-face
  font-family: 'Courier Prime Bold';
  src: url($fonts_dir + 'courierprime/courier-prime-sans-bold.eot?#iefix') format('embedded-opentype'),
    url($fonts_dir + 'courierprime/courier-prime-sans-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
