.ru
  $fonts_dir := "/assets/fonts/ru/";

  @font-face {
    font-family: 'Bariol Light';
    //font-family: 'IBMPlexSans-ExtraLight';
    src: url($fonts_dir + 'IBMPlexSans-ExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Bariol Regular';
    //font-family: 'IBMPlexSans-Light';
    src: url($fonts_dir + 'IBMPlexSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
