$small-screen = 728px //at most
$large-screen = 1024px //at least
$xlarge-screen = 1366px //at least
$xxlarge-screen = 1600px //at least
$xxxlarge-screen = 1920px //at least

// tokens
themeTokens = {
  "color-primary": #000,
  "button-color": rgb(0,0,0,0.2),
  "color-grey": #ccc,
  "color-grey-medium": #b2b2b2,
  "color-grey-light": #ECEBE9,
  "color-black": #222222,
  "color-blue-dark": #607889,
  "color-blue-darker": #425663,
  "color-barely-visible": #f5f9fb,
  "color-footer-text": #666,
  "color-background": #fff,
  "color-footer-link": #3071a0,
  "color-logotext": #000,
  "color-menutext": #222222,
  "color-chartswitchertext": #000,
  "body-min-width": 250px,
  "header-height-small": 32px,
  "header-height-large": 32px,
  "header-height-xlarge": 50px,
  'theme-font-heading': unquote('"Brand Sans Heading", var(--fallback-font-heading)')
  'theme-font-body': unquote('"Brand Sans Body", var(--fallback-font-body)')
  'theme-font-mono': unquote('"Brand Mono", var(--fallback-font-mono)')
}

:root
  --fallback-font-heading: system-ui, -apple-system, "Segoe UI", Roboto, "Noto Sans", "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", sans-serif
  --fallback-font-body: system-ui, -apple-system, "Segoe UI", Roboto, "Noto Sans", "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", sans-serif
  --fallback-font-mono: ui-monospace, SFMono-Regular, Menlo, Consolas, "Liberation Mono", "DejaVu Sans Mono", "Noto Sans Mono", monospace