$color-primary := #95D600;
$color-grey := #999999;
$color-grey-medium := #b2b2b2;
$color-grey-light := #ECEBE9;
$color-black := #222222;
$color-blue-dark := #607889;
$color-blue-darker := #425663;


$body-min-width := 250px;
$header-height := 50px;

$small-screen := 785px;
$large-screen := 1025px;

$size-column := 230px;

// fonts;
// --------------------------------------------------

$font-family-sans-fallback := "Helvetica Neue", Helvetica, Arial, sans-serif;
$source-sans-pro-thin-font-family := "Source Sans Pro Thin", $font-family-sans-fallback;
$source-sans-pro-thin-italic-font-family := "Source Sans Pro Thin Italic", $font-family-sans-fallback;
$source-sans-pro-light-font-family := "Source Sans Pro Light", $font-family-sans-fallback;
$source-sans-pro-light-italic-font-family := "Source Sans Pro Light Italic", $font-family-sans-fallback;
$source-sans-pro-regular-font-family := "Source Sans Pro Regular", $font-family-sans-fallback;
$source-sans-pro-regular-italic-font-family := "Source Sans Pro Regular Italic", $font-family-sans-fallback;
$source-sans-pro-bold-font-family := "Source Sans Pro Bold", $font-family-sans-fallback;
$source-sans-pro-bold-italic-font-family := "Source Sans Pro Bold Italic", $font-family-sans-fallback;
$courier-prime-font-family := "Courier Prime", $font-family-sans-fallback;
$courier-prime-bold-font-family := "Courier Prime Bold", $font-family-sans-fallback;


// Navbar
// --------------------------------------------------

$grid-columns := 12 !default;
$grid-gutter-width := 0px !default;

$navbar-height := 34px;
$navbar-height-mobile := 50px;
$navbar-height-tablet-portrait := 128px;

$navbar-border-radius := 0;
$navbar-border-size := 2px;
$navbar-border-color := $color-primary;

$navbar-default-bg := white;
$navbar-default-border := $color-grey-light;
$navbar-default-link-color := $color-black;
$brand-primary := $color-primary;


$font-size-header-regular := 16px;
$font-size-header-small := 13px;
