@import './../_resources/variables.styl'
@import './../_resources/mixins.styl'

a
  text-decoration none
  display inline-block
  cursor pointer

  
.flow-container
  display flex
  align-items center

.header
  height: var(--header-height)
  letter-spacing 0.01em
  display flex
  justify-content space-between
  get-global-margin-left()
  flex-wrap nowrap
  align-items center
  color $color-blue-darker

  a
    user-select none
    color $navbar-default-link-color
    &:hover
      text-decoration underline

  +for_breakpoint(small)
    margin-right: 10px
    .menu
      display:none
    

  .menu-icon
    +for_breakpoint(not-small)
      display none

    position relative
    margin 4px 4px 4px 25px
    height 20px

    .icon
      transition-duration 0.2s
      width 30px
      height 3px
      background-color $color-primary
      top: 10px
      position: relative

      &:before, &:after
        transition-duration 0.5s
        background-color $color-primary
        position absolute
        content ""
        width 30px
        height 3px

      &:before
        top -7px

      &:after
        top 7px

    &.open .icon
      background-color transparent
      &:before, &:after
        top 0

      &:before
        transform rotate(-45deg)

      &:after
        transform rotate(45deg)
  
  .logo
    letter-spacing 0.05em
    

.navbar-nav
  list-style none
  padding:0
  margin:0
  position absolute
  z-index 999
  font-weight bold

  +for_breakpoint(small)
    position static
    width: 100%
    z-index auto

    &:hover
      display block !important

  li
    padding-right 15px

    +for_breakpoint(small)
      padding-right 5px

    +for_breakpoint(not-small)
      display inline







  .navigation
    white-space nowrap
    overflow hidden
    get-global-margin-left()
    flex 1.0 0 0px
    min-width 130px
    +for_breakpoint(small)
      flex none
      order -2
      padding 3px

    .header-title
      overflow hidden
      background-image url(/assets/images/logo.png)
      background-repeat no-repeat
      background-position center center
      width 170px
      background-size 100%
      color white
      float left
      get-font-size(medium)
      line-height var(--header-height)
      margin 0
      +for_breakpoint(small)
        height 30px
    
    img
      padding-right 3px
      position relative
      top 2px

  .how-to-use
    flex 2 0 0px;
    min-width 320px
    +for_breakpoint(small)
      flex none
      width: 100%

  .social
    flex 1.5 0 0px;
    min-width 160px
    
    .flow-container
      justify-content flex-end
    
    +for_breakpoint(small)
      flex none
      width 100%
      
      .flow-container
        justify-content center

        .social-list
          margin 5px

  .language
    flex none
    
    +for_breakpoint(small)
      order -1
      .lang-wrapper
        margin 10px

  .menu-mobile
    align-self: flex-end;
    flex 1 0 0px;
    min-width 100px

    +for_breakpoint(not-small)
      display none

    cursor pointer
    transition-duration 0.5s

    .social-share-icon
      margin 4px
      button-box()
      i
        position relative
        top 1px
    


.header-divider
  background-color $color-primary
  height 2px
  margin: 0
  padding 0
  width 100%
  
  
$menu-bar
  border-radius(3px)
  position absolute
  width 25px
  height 3px
  display block

.how-to-use-video
  &:hover
    color $color-primary!important
  +for_breakpoint(small)
    position relative
    span
      display none
  +for_breakpoint(not-small)
    position relative
    top 0
    span
      display inline-block
      width: 26px
      color #fff
      background $color-primary
      border none
      font-size 15px
      border-radius (4px)
      outline none
      height 22px
      line-height 22px
      padding 0
      text-align center
      margin-top -22px
      margin-right 10px
      margin-left 0px
      margin-bottom -2px
      padding-left 5px
      path
        fill white

