@import './../_resources/variables.styl'
@import './../_resources/mixins.styl'

a
  text-decoration none
  display inline-block
  cursor pointer

  
.flow-container
  display flex
  align-items center

.header
  height: var(--header-height)
  letter-spacing 0.05em
  display flex
  justify-content space-between
  get-global-margin-left()
  flex-wrap nowrap
  align-items center
  color $color-blue-darker

  a
    user-select none
    color $navbar-default-link-color
    &:hover
      text-decoration underline

  +for_breakpoint(small)
    margin-right: 10px
    .menu
      display:none
    

  .menu-icon
    +for_breakpoint(not-small)
      display none

    position relative
    margin 4px 4px 4px 25px
    height 20px

    .icon
      transition-duration 0.2s
      width 30px
      height 3px
      background-color $color-primary
      top: 10px
      position: relative

      &:before, &:after
        transition-duration 0.5s
        background-color $color-primary
        position absolute
        content ""
        width 30px
        height 3px

      &:before
        top -7px

      &:after
        top 7px

    &.open .icon
      background-color transparent
      &:before, &:after
        top 0

      &:before
        transform rotate(-45deg)

      &:after
        transform rotate(45deg)
  
.navbar-nav
  list-style none
  padding:0
  margin:0
  position absolute
  z-index 999
  font-weight bold

  +for_breakpoint(small)
    position static
    width: 100%
    z-index auto

    &:hover
      display block !important

  li
    padding-right 15px

    +for_breakpoint(small)
      padding-right 5px

    +for_breakpoint(not-small)
      display inline







  .navigation
    white-space nowrap
    overflow hidden
    get-global-margin-left()
    flex 1.0 0 0px
    min-width 130px
    +for_breakpoint(small)
      flex none
      order -2
      padding 3px

    .header-title
      overflow hidden
      background-image url(/assets/images/logo.png)
      background-repeat no-repeat
      background-position center center
      width 170px
      background-size 100%
      color white
      float left
      get-font-size(medium)
      line-height var(--header-height)
      margin 0
      +for_breakpoint(small)
        height 30px
    
    img
      padding-right 3px
      position relative
      top 2px

  .how-to-use
    flex 2 0 0px;
    min-width 320px
    +for_breakpoint(small)
      flex none
      width: 100%

  .social
    flex 1.5 0 0px;
    min-width 225px
    
    .flow-container
      justify-content flex-end
    
    +for_breakpoint(small)
      flex none
      width 100%
      
      .flow-container
        justify-content center

        .social-list
          margin 5px

  .language
    flex none
    
    +for_breakpoint(small)
      order -1
      .lang-wrapper
        margin 10px

  .menu-mobile
    align-self: flex-end;
    flex 1 0 0px;
    min-width 100px

    +for_breakpoint(not-small)
      display none

    cursor pointer
    transition-duration 0.5s

    .social-share-icon
      margin 4px
      yellow-box()
      i
        position relative
        top 1px
    


.header-divider
  background-color $color-primary
  height 2px
  margin: 0
  padding 0
  width 100%
  
  
$menu-bar
  border-radius(3px)
  position absolute
  width 25px
  height 3px
  display block

.how-to-use-video
  &:hover
    color $color-primary!important
  +for_breakpoint(small)
    position relative
    span
      display none
  +for_breakpoint(not-small)
    position relative
    top 0
    span
      display inline-block
      width: 26px
      color #fff
      background $color-primary
      border none
      font-size 15px
      border-radius (4px)
      outline none
      height 22px
      line-height 22px
      padding 0
      text-align center
      margin-top -22px
      margin-right 10px
      margin-left 0px
      margin-bottom -2px
      padding-left 5px
      path
        fill white


.data-editor
  display flex
  max-height 100%
  flex-direction column
  justify-content flex-start
  align-items center
  margin 50px
  background-color white
  padding-top 15px
  padding-bottom 5px
  .add
    margin-right auto

  +for_breakpoint(small)
    margin 0
    padding 0

.data-editor-instructions
  text-align: left;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  a
    text-decoration: underline;
    text-transform: none;
    color: #4b98aa;

.data-editor-close
  align-self flex-end
  margin-right 10px

.data-editor-buttons
  display flex
  width 100%
  justify-content space-between
  .de-apply
    color: #289500
  .de-reload
    color: #950000
  .add-row
    width 33px
    text-align center
    font-size 2em
    line-height .32em
  a
    cursor pointer
  a:last-child
    margin-right 15px

.table
  width 100%
  overflow auto

  +for_breakpoint(small)
    overflow hidden

  table
    width 100%
    border-collapse collapse

  .no-select
    -webkit-touch-callout none
    user-select none

  .row
    border 5px solid white

  .container
    position absolute
    top 0
    left 250px

  .row-data
    +for_breakpoint(small)
      display block

  .cell
    width 100%

    +for_breakpoint(small)
      display block
      width auto
      margin-left 5px

  .checkbox
    div
      width 20px
      height 20px
      border 1px solid $color-blue-darker
      border-radius 2px
      cursor pointer
      &:after
        content: "\2713"
        margin-left: 4px;
        opacity 0
      &:hover
        &:after
          opacity .2
      &[data-checked=true]
        &:after
          opacity 1

  .dropdown
    div
      position relative
      cursor pointer
      &:after
        content: '\25BC';
        padding: 0 0 0 4px;
        border-left: 1px solid $color-blue-darker
        color: $color-blue-darker
        position: absolute;
        right: 2px;
    li
      display block
      cursor pointer
      border-top 1px dotted
    ul
      padding-left 0
      padding-top 5px
      line-height 1.8em
 

  td, th
    border 1px solid $color-blue-darker
    background-color white
    padding 5px
    text-align left

  th.header
    cursor default
    border none
    min-width 70px

  th.edit
    width 15px
    a
      opacity .2
      font-size 2em
      line-height .32em
      cursor pointer
      &:hover
        opacity 1