.too-footer
  background-color $color-grey  
  color $color-footer-text
  position relative
  display flex
  align-items center
  gap 20px
  flex-wrap wrap
  padding 20px
  justify-content space-evenly

  .logos-holder
    min-width 0
    padding 0px
    position relative
    display flex
    flex-direction row
    align-items center    
    gap 40px
    flex-wrap wrap
    justify-content center
    a, img, svg
      max-height 120px
      height 100%

  .menu-holder
    display block
    padding 0px
    max-width 650px

    .bottom-header
      get-font-size(xlarge)
      font-family $theme-font-heading
      margin-bottom 0.7em

  .bottom-text
      margin-bottom 1em

    .line1, .line2
      margin-bottom 10px

    .line1 a, .line2 a
      margin-right 15px
      white-space nowrap
      letter-spacing 0.05em
      font-variant all-petite-caps
      +for_breakpoint(small)
        margin-right 10px

    a
      color $color-footer-link
      text-decoration underline
      text-underline-offset 0.12em

      &:hover
        color $color-primary
