@import './../_resources/variables.styl'
@import './../_resources/mixins.styl'

.footer-container
  background-color $color-grey
  color $color-footer-text
  position: relative
  display flex
  gap: 20px
  flex-wrap: wrap
  padding 20px
  justify-content space-evenly

  .menu-holder
    display block
    padding: 0px
    max-width: 600px;

    .general-menu
      get-font-size(small)
      font-family $theme-font-regular

    .main-menu
      get-font-size(small)
      font-family $theme-font-light
      margin-top 5px
      line-height: 1.7em

    .bottom-header
      font-size: 2em
      margin-bottom: 0.7em

    .bottom-text
      margin-bottom: 1em

  .logos-holder
    padding: 0px
    position: relative
    display flex
    flex-direction row
    align-items center    
    gap 40px
    flex-wrap wrap
    justify-content center

  ul
    font-weight bold
    list-style none
    margin 0
    padding 0

    li
      padding-right 15px

      +for_breakpoint(small)
        padding-right 5px

      +for_breakpoint(not-small)
        display inline

  a
    display inline-block
    color $color-footer-link
    text-decoration underline
    text-underline-offset 0.12em
    font-variant all-petite-caps

    &:hover
      color $color-primary
