# See http://help.github.com/ignore-files/ for more about ignoring files.

package-lock.json

# compiled output
build
tmp

# dependencies
node_modules
bower_components

# IDEs and editors
.idea
.vscode
.project
.classpath
*.launch
.settings/

service-worker.js

# misc
.sass-cache
connect.lock
coverage/*
libpeerconnection.log
npm-debug.log
testem.log
typings

# e2e
e2e/*.map

#System Files
.DS_Store
Thumbs.db
yarn.lock
src/assets/vizabi.css
src/assets/barrankchart.css
src/assets/mountainchart.css
src/assets/bubblechart.css
src/assets/linechart.css
src/assets/bubblemap.css
src/assets/popbyage.css

logs
