@import './../../_resources/variables.styl'

#message
  position: relative;
  text-align: center; 
  padding: 10px; 
  border: 2px solid $color-primary;
  border-bottom: none;
  line-height: 1.5em;
  
#message-close
  position: absolute;
  cursor: pointer;
  top: 10px;
  right: 10px;

.app-message
  display: none;