

.vzb-tool
  font-family $theme-font-body !important

  .vzb-datetime-background
    font-family $theme-font-mono !important

.vzb-tool-buttonlist, .vzb-dialog-zoom-buttonlist, .vzb-tool-dialogs, .vzb-sidebar, .vzb-dialog-checkbox label:before
  background-color white !important

.vzb-dialogs-dialog.vzb-sidebar
  margin 5px 0 2px -5px !important
  
.vzb-dialog-shadow
  border-top none !important
  border-bottom none !important
  
