*
  box-sizing border-box

html, body
  height 100%
  text-rendering optimizeLegibility
  font-variant-numeric tabular-nums slashed-zero

body
  background-color white
  font-family $theme-font-body
  get-font-size(medium)
  min-width $body-min-width
  padding 0
  margin 0

a[target="_blank"]:not(.newtab)::after
  new-tab()
a[target="_blank"]:not(.newtab):hover::after
  opacity 1

a
  color $color-black
  user-select none
  text-decoration none
  display inline-block
  cursor pointer
  &:hover
    text-decoration underline

.too-wrapper
  display block
  position relative
  height 100%
  width 100%
  overflow-y auto
  overflow-x hidden
  max-width 100vw

  +for_breakpoint(small)
    position static
    min-height auto
    scrollbar-width none

.too-stage
  padding 0
  width 100%
  height "calc(100% - %s - 45px)" % var(--header-height)
  +for_breakpoint(medium)
    height "calc(100% - %s - 9px)" % var(--header-height)
  +for_breakpoint(small)
    height "calc(100% - %s - 5px)" % var(--header-height)
  background white
  position relative
  .vizabi-placeholder
    height 100% 
    width 100%


.too-toolbox, .too-related-items, .too-see-also, .too-footer
  max-width 100vw
  get-global-padding-left()
  get-global-padding-right()
  
.too-header, .too-toolbox
  display flex
  align-items center
  justify-content space-between
  gap 10px
  .too-start, .too-middle, .too-end
    display flex
    align-items center
    gap 10px

.too-header
  max-width 100vw
  height var(--header-height)
  get-global-padding-left()
  +for_breakpoint(small)
    get-global-padding-right()
    .too-middle 
      display none

.too-toolbox
  height 50px
  background-color $color-barely-visible
  +for_breakpoint(small)
    display none

.too-header-divider
  background-color $color-primary
  height 2px
  margin 0
  padding 0
  width 100%



.embedded-view .too-above-stage,
.embedded-view .too-below-stage
  display none
.embedded-view .too-stage
  height 100%

.hidden
  display none !important

.invisible
  visibility hidden