.too-login-button
  &.logged
    .user-login-title
      display none
    .user-logged-title
      display block

  .user-login-title, .user-logged-title
    button()
    padding 2px 6px
    get-font-size(small)
    .too-mobile-menu &
      get-font-size(large)


  .user-logged-title
    display none
    &:after
      content '\25BC'
      padding 0 0 0 4px
      border-left 1px solid $color-primary
      color $color-primary
      margin-left 4px


.too-login-forms
  display none
  greyout()
  &.open
    display flex
    .user-login-form
      display block
    .user-logged-form
      display none
    &.logged
      .user-login-form
        display none
      .user-logged-form
        display block


  button
    button()
  
  .user-login-close
    closecross()
    get-font-size(medium)

  .user-logged-form, .user-login-form
    dialog-box()
    display none
    min-width 250px
    padding 20px 10px
    .panel
      display flex
      flex-direction column
      gap 10px
      input, label, button
        get-font-size(medium)

  .user-logged-form
    .panel
      align-items start

      button, .user-logged-name
        align-self center

      a 
        color  $color-blue-darker
        text-decoration underline
        &:hover
          color $color-primary
      hr
        width 80%      

  .user-login-form
    .panel
      align-items center

      button
        margin 20px 0

      label
        margin-top 20px
        align-self flex-start

      hr
        margin-bottom 0
        width 100%
      .hr-text-center
        margin-top -1.4em
        padding 0 5px
        background-color $color-background

      .login-oauth
        display flex
        flex-direction row
        justify-content space-around
        width 100%
        .button
          border 0
          height 50px
          svg, img
            width 100%
            height 100%

    .signup-panel
      display none

    &.signup
      .signup-panel
        display flex
      .login-panel
        display none

