
.too-menu
  +for_breakpoint(small)
    display none

  .menu-items
    position relative //to position expanded menu
    display flex
    align-items center
    gap 15px
    +for_breakpoint(medium)
      gap 10px

    .menu-item
      .icon-heading-pair
        cursor pointer
        display flex
        align-items center
        gap 3px

      .icon-heading-pair>.heading
        get-font-size(small)
        font-weight lighter
        font-variant all-petite-caps
        letter-spacing 0.05em
        text-wrap nowrap

      .icon
        position relative
        height var(--header-height)
        svg, img
          height 100%
          aspect-ratio 1 / 1
          path, circle, rect
            fill $color-primary
      a
        color $color-menutext
        &:hover
          color $color-primary
          text-decoration none

      &:hover .expanded,
      .expanded:hover,
      .expanded.active
        z-index 500
        display grid !important   

      .expanded
        display none
        gap 20px
        grid-template-columns repeat(auto-fill, minmax(300px, 1fr))

        border-top-left-radius 3px
        border-top-right-radius 3px
        background-color $color-background
        border-top 2px solid $color-background
        border-left 2px solid $color-primary
        border-right 2px solid $color-primary
        border-bottom 2px solid $color-primary
        
        padding 30px 10px 20px 10px
        position absolute
        max-width 700px
        width 50vw
        left 0
        top var(--header-height)

        +for_breakpoint(medium)
          gap 15px

        .grid-item 
          display flex
          align-items start
          gap 5px

        .icon
          height 75px

        .heading
          font-weight lighter
          margin-bottom 5px
          font-family $theme-font-heading
          get-font-size(large)

        .caption
          get-font-size(small)



  
.too-mobile-menu
  display flex
  flex-direction column
  align-items center
  gap 20px
  get-global-padding-left()
  get-global-padding-right()
  .too-login-button
    margin-bottom 20px

  //Animation for opening/closing the mobile menu
  visibility hidden
  opacity 0
  max-height 0
  transition max-height 0.3s ease-out, opacity 0.3s ease-out, visibility 0s 0.3s
  &.open
    +for_breakpoint(small)
      visibility visible
      opacity 1
      max-height 10000px
      border-bottom: 2px solid $color-primary
      transition max-height 0.3s ease-out, opacity 0.3s ease-out, visibility 0s 0s
  
  

  .too-menu
    display block
    align-self start
    width 100%
    .menu-items
      display block

      .menu-item
        border-bottom 1px dashed $color-primary
        padding 10px 0px
        .icon-heading-pair>.heading
          get-font-size(xlarge)

        .expanded
          position relative
          gap 20px 
          
          grid-template-columns 1fr


          border-top-left-radius 0
          border-top-right-radius 0
          border-left none
          border-right none
          border-bottom none
          top 0
          padding 10px 0px
          width auto

          .icon
            height 50px

          .caption
            get-font-size(medium)



.hamburger-button
  +for_breakpoint(not-small)
    display none

  position relative
  margin 4px 4px 4px 4px
  height 20px

  .icon
    transition-duration 0.2s
    width 30px
    height 3px
    background-color $color-primary
    top 10px
    position relative

    &:before, &:after
      transition-duration 0.5s
      background-color $color-primary
      position absolute
      content ""
      width 30px
      height 3px

    &:before
      top -7px

    &:after
      top 7px

  &.open .icon
    background-color transparent
    &:before, &:after
      top 0

    &:before
      transform rotate(-45deg)

    &:after
      transform rotate(45deg)