
.too-social-buttons
  display flex
  align-items center
  gap 5px
  .too-mobile-menu &
    gap 10px

  .share-text
    get-font-size(small)
    +for_breakpoint(small)
      display none

  .button
    button-box()
    .too-mobile-menu &
      width 32px
      height 32px


