@import './../../_resources/variables.styl'
@import './../../_resources/mixins.styl'

.social-list
  li
    float left
    margin 4px
    a
      display inline-block


  .button
    button-box()
    cursor pointer

  .share-text-box
    border none
    font-size $font-size-header-regular
    margin 5px 0
    cursor pointer
    outline none
    height 22px
