@import './../../_resources/variables.styl'
@import './../../_resources/mixins.styl'

.social-list
  li
    float left
    margin 4px
    a
      display inline-block


  .button
    yellow-box()
    cursor pointer
    
  .ico-code
    font-size 12px
    line-height 17px
    i
      position relative
      top 2px

  .ico-plane
    svg
      position relative
      left: -1px
      top: 1px

  .share-text-box
    border none
    font-size $font-size-header-regular
    margin 5px 0
    cursor pointer
    outline none
    height 22px
