@import './_resources/variables.styl'
@import './_resources/mixins.styl'

//@import './_resources/fonts.styl'
//@import './_resources/fonts.ext.styl'

//inject fonts and colors into vizabi
@import './page/override-vizabi.styl'

//global styles — start here
@import './page/page.styl'
@import './page/page.rtl.styl'

//component styles, must be scoped with .too- prefix
@import './logo/logo.styl'
@import './chart-switcher/chart-switcher.styl'
@import './related-items/related-items.styl'
@import './social-buttons/social-buttons.styl'
@import './social-buttons/share-link.styl'
@import './language-switcher/language-switcher.styl'
@import './message/message.styl'
@import './see-also/see-also.styl'
@import './footer/footer.styl'
@import './menu/menu.styl'
@import './auth/user-login.styl'