
.too-message
  display none
  
  .message
    position relative
    text-align center
    padding 10px
    border 2px solid $color-primary
    line-height 1.5em
    min-height 60px
    border-top none
    border-bottom-left-radius 8px
    border-bottom-right-radius 8px
    margin 0px 4px 2px 5px
    background-color $color-barely-visible
    
    .close
      closecross()