
.vzb-tool-combo {
  display: grid;
  grid-auto-rows: 0;
  grid-auto-columns: 0;
}

.vzb-tool-combo.vzb-split-vertical {
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
}

.vzb-tool-combo.vzb-split-horizontal {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.vzb-tool-combo .vzb-split-direction-button {
  position: absolute;
  cursor: pointer;
  opacity: 0.5;
}

.vzb-tool-combo .vzb-split-direction-button:hover {
  opacity: 1;
}

.vzb-tool-combo .vzb-split-direction-button svg {
  transform: rotate(90deg);
  background: white;
  height: 20px;
  width: 20px;
  border: solid 2px rgba(0,0,0,0.6);
  border-radius: 4px;
  padding: 1px;
}

.vzb-tool-combo.vzb-split-horizontal .vzb-split-direction-button {
  grid-row: 2;
  margin-left: 20px;
  margin-top: -10px;
}

.vzb-tool-combo.vzb-split-vertical .vzb-split-direction-button {
  grid-column: 2;
  margin-top: 20px;
  margin-left: -10px;
}
