
.too-see-also
  background-color $color-blue-barely-visible

  margin 0
  padding-top 15px 
  padding-bottom 15px 
  +for_breakpoint(small)
    padding-top 10px 
    padding-bottom 10px 
  display flex
  flex-wrap wrap
  justify-content flex-start
  gap 40px

  & > .other-tools-item
    margin 0
    width 128px
    text-align center
    padding-bottom 15px

    & > a
      transition(all 0.1s)
      transition-duration 0.2s
      border-radius (3px)
      display block
      position relative
      cursor pointer
      text-decoration none
      max-width 400px
      box-shadow 1px 1px 11px rgba(0, 0, 0, 0.05), 1px 1px 6px rgba(0, 0, 0, 0.18)

      .title
        color #808285
        get-font-size(medium)
        display block
        text-transform uppercase
        letter-spacing 0.07em

      .image
        width 100%
        height auto

      &:hover
        transform scale(1.02,1.02) translateY(-2px) skew(-1deg,0deg)
        box-shadow 2px 2px 11px rgba(0, 0, 0, 0.05), 2px 2px 6px rgba(0, 0, 0, 0.18)

        & > .title
          color $color-blue-dark

    & > a[hidden]
      display none
