@import './../_resources/variables.styl'
@import './../_resources/mixins.styl'

.app-related-items
  display flex
  flex-wrap: wrap
  margin: 30px 30px 30px 0px
  gap 30px
  align-items flex-start

.related-block
  get-global-margin-left()
  flex: 2

.video-block
  flex: 1
  margin-top: 0.7em
  min-width: 300px
  max-height: 342px
  max-width: 608px
  aspect-ratio 16/9
  position: relative
  display: flex
  align-items: center
  background-color: #333
  img
    width: 100%
    aspect-ratio 16/9
    cursor: pointer

.related-heading
  font-size: 2em
  color $color-footer-text
  margin-bottom: 0.7em

.related-container
  margin 0
  padding 0
  +for_breakpoint(small)
    padding 20px 10px 20px 0

.related-items
  list-style none
  margin 0
  padding 0
  box-sizing(border-box)
  +for_breakpoint(xlarge)
    columns(2 20px)

.related-item
  box-sizing(border-box)
  display inline-block
  width 100%
  padding 0
  margin-bottom 20px

  +for_breakpoint(small)
    padding 0px
    margin-bottom 10px

  a
    //display(flex)
    flex-direction(row)
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    text-decoration none
    color $color-black

    &:hover .title
      color $color-blue-dark
      text-decoration underline

  a.newtab span.title::after
    content: ""
    display: inline-block
    vertical-align: middle
    top: -0.1em
    position: relative
    width: 0.8em
    height: 0.8em
    margin-left: 0.3em
    background: no-repeat center/contain url("data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2048%2048%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M36%2024c-1.2%200-2%200.8-2%202v12c0%201.2-0.8%202-2%202h-22c-1.2%200-2-0.8-2-2v-22c0-1.2%200.8-2%202-2h12c1.2%200%202-0.8%202-2s-0.8-2-2-2h-12c-3.4%200-6%202.6-6%206v22c0%203.4%202.6%206%206%206h22c3.4%200%206-2.6%206-6v-12c0-1.2-0.8-2-2-2z%22/%3E%3Cpath%20d%3D%22M43.8%205.2c-0.2-0.4-0.6-0.8-1-1-0.2-0.2-0.6-0.2-0.8-0.2h-12c-1.2%200-2%200.8-2%202s0.8%202%202%202h7.2l-18.6%2018.6c-0.8%200.8-0.8%202%200%202.8%200.4%200.4%200.8%200.6%201.4%200.6s1-0.2%201.4-0.6l18.6-18.6v7.2c0%201.2%200.8%202%202%202s2-0.8%202-2v-12c0-0.2%200-0.6-0.2-0.8z%22/%3E%3C/svg%3E")

.related-item-thumbnail
  -webkit-flex-shrink 0
  -moz-flex-shrink 0
  -ms-flex-negative 0
  flex-shrink 0
  width 160px
  height auto

  +for_breakpoint(medium)
    width 130px
    
  +for_breakpoint(small)
    width 100px

  img
    width 100%
    height auto
    border 1px solid $color-grey-light
    border-radius (3px)
    box-shadow 0 1px 20px rgba(0, 0, 0, 0.03), 0 1px 10px rgba(0, 0, 0, 0.12)

.related-item-info
  display inline-block
  flex 1
  line-height 1.2
  padding-right 15px
  position relative
  margin-left 20px

  .title, .subtitle
    display block

  .title
    margin-bottom: 5px
    font-family $theme-font-light
    get-font-size(large)

  .subtitle
    get-font-size(medium)
    font-style italic
    color #808080
