@import './../../_resources/variables.styl'
@import './../../_resources/mixins.styl'

.chart-switcher
  font-size: $font-size-header-regular
  position relative
  margin-left 5px
  margin-right 5px
  a
    cursor pointer

.chart-switcher-options
  position absolute
  width 90px
  background-color #ffffff
  top 36px
  left 45px
  z-index 300
  border 1px solid #eee
  padding 7px
  div
    padding 3px
    a
      cursor pointer