@import './../../_resources/variables.styl'
@import './../../_resources/mixins.styl'

.chart-switcher
  height: var(--header-height)
  font-size: $font-size-header-regular
  position relative
  display flex
  &:hover
    a.selected
      border-bottom 3px solid #fff
  a
    cursor pointer
    padding 0px 5px
    display flex
    align-items center
    border-bottom 3px solid #fff
    transition: border-width 0.5s ease-in-out;
    &:hover
      text-decoration none !important
      border-bottom 3px solid #900 !important
    &.selected
      border-bottom 3px solid #900 
      cursor default      
    img 
      height 25px

.chart-switcher-options
  position absolute
  width 90px
  background-color #ffffff
  top 36px
  left 45px
  z-index 300
  border 1px solid #eee
  white-space normal
  padding 7px
  .selected
    a
      color: $color-primary
  div
    padding 3px
    a
      cursor pointer