@import './../../_resources/variables.styl'
@import './../../_resources/mixins.styl'

.lang-wrapper
  float: right
  display inline-block
  height 18px
  margin 0 20px 0 8px
  position: relative
  font-size $font-size-header-small
  padding: 1px 6px 1px 10px
  border: 1px solid #95D600
  border-radius: 4px
  cursor: pointer
  .lang-current
    display block
    padding-right 25px
    opacity 1
    &:after
      content '\25BC'
      padding 0 0 0 4px
      border-left 1px solid #95D600
      color $brand-primary 
      position absolute
      right 4px
  ul
    display none
    position absolute
    list-style none
    z-index 10
    left -1px
    border 1px solid #95D600
    top 18px
    margin 0
    border-top none
    background #fff
    padding 8px 0 2px 0
    width 100%
    li
      text-align right
      padding 4px 8px
      border-bottom 1px dotted #95D600
      margin 0 4px
      &:last-child
        border-bottom none
  ul.selected
    display block
  &:after
    clear both

  /*+for_breakpoint(medium)
    margin-left -85px*/

  +for_breakpoint(small)
    .lang-current
      min-width 100px;
