@import './../_resources/variables.styl'
@import './../_resources/mixins.styl'

.column
  padding 0

.column.main
  box-sizing(border-box)
  width 100%
  height "calc(100% - %s - 40px)" % $header-height
  +for_breakpoint(medium)
    height "calc(100% - %s - 30px)" % $header-height
  +for_breakpoint(small)
    height "calc(100% - %s - 15px)" % $header-height
  background white

.card
  background white
  border-radius (2px)
  box-shadow rgba(0, 0, 0, 0.02) 0px 2px 1px 2px
  padding 20px
  margin 0px auto 10px auto
  max-width 250px
  +for_breakpoint(small)
    //animate down
    for i in 0..9
      &:nth-child(i)
        opacity 0
        //fadeInDown(0.5s, i / 4 * 1s)
        animation: fadeInDown 0.5s i / 4 * 1s forwards

  @keyframes fadeInDown
    0%
      opacity 0
      transform scale(.5)
    50%
      opacity 1
    100%
      opacity 1
      transform scale(1)


.btn
  box-sizing(border-box)
  background $color-grey
  border 0px
  border-radius (2px)
  box-shadow rgba(0, 0, 0, 0.02) 0px 2px 1px 2px
  padding 8px 10px
  margin 0px 3px 7px 3px
  color white
  text-transform uppercase
  letter-spacing 0.07em
  get-font-size(medium)
  font-family 'Lato', Arial, sans-serif

  &:hover
    cursor pointer
    background darken($color-grey, 10%)

  &.primary
    background $color-primary
    &:hover
      background darken($color-primary, 10%)

  &.block
    width 100%
    display block
